*{
    margin: 0;
}
#outbox{
    /* align-self: center; */
    height: 600px;
    width: 700px;
    background-color: rgb(209, 201, 191);
    margin: 50px 100px 100px 400px;
    text-align: center;
    
    margin-top: 5px;
}
#container{
    padding: 100px 50px 100px 0px;
    margin: 10px;
}
a{
    margin-left: 50px;
    text-decoration: none;
    
}
#click{
    height: 15px;
    width: 15px;
}
#check2{
    height: 15px;
    width: 15px;
}
p{
    display: inline;
}
input{
    background-color: rgb(165, 203, 203);
    width: 200px;
    height: 30px;
    border: 3px solid black;
    border-radius: 10px;
    margin-top: 5px;
}
button{
    margin: 30px;
    background-color: blue;
    border: 5px solid black;
    color: beige;
    height: 40px;
    width: 80px;
    border-radius: 10px;
}
#second{
    margin-top: 10px;
}
#secbox{
    height: 80px;
    width: 500px;
    background-color: bisque;
    margin: 50px 50px 50px 100px;
    text-align: center;
}
img{
    margin-left: 20px;
}